.main-action {
    display: inline-flex;
    align-items: center;
    color: #FCE377;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.main-action::before {
    content: "";
    display: inline-block;
    background-color: #05696F;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}