.section-skill {
    background-color: #034837;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #000;
}

.section-skill .main-title {
    margin-bottom: 60px;
}

.section-project {
    background-color: #096A59;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #000;
}

.section-project .main-title{
    margin-bottom: 50px;
}

.main-section {
    background-color: #05696F;
    padding-bottom: 100px;
    border-bottom: 10px solid #000;
}
