.main-button {
    display: inline-block;
    background-color: #05696F;
    box-shadow: 5px 5px 0 #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms linear;
    font-size: 20px;
    color: #FCE377;
    text-decoration: none;
    cursor: pointer;
}

.main-button:hover {
    transform: scale(1.07);
    background-color: #033544;
    color:#f7cd11;
    transition: 0.5s;
    opacity: 0.9;
}

.main-button.-full {
    width: 100%;
}

.main-button.-full:hover {
    transform: scale(1.02);
}