.subtitle {
    font-family: "Press Start 2P", sans-serif;
    font-size: 30px;
    color: #05696F;
    text-shadow: 4px 4px 0 #000;
}

.subtitle_skills {
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color: #FCE377;
    text-shadow: 4px 4px 0 #000;
}